.main:hover{
    background-color: rgb(202, 202, 202);
    color: black;
    transition: all 0.2s ease-out;
}

.main{
    background-color: rgb(70, 0, 0);
    color:rgb(202, 202, 202);
    width: 30vmin;
    text-decoration: none;
}

.header{
    color: rgb(202, 202, 202);
}



a{
    text-decoration: none;
}
a:hover{
    color:black;
}