<h2>Programm</h2>

<mat-card class="filter_box">
        <h2 style="color:White">Genreauswahl</h2>
        <br>

        <!--
        <ng-select [(ngModel)]="selectedGenre" (change)="applyGenres()" style="background-color: rgb(224, 224, 224); border-radius: 5px;">
            <ng-option value="">None</ng-option>
            <ng-option value="Action">Action</ng-option>
            <ng-option value="Animation">Animation</ng-option>
            <ng-option value="Fantasy">Fantasy</ng-option>
            <ng-option value="Horror">Horror</ng-option>
            <ng-option value="Komödie">Komödie</ng-option>
            <ng-option value="Science Fiction">Science Fiction</ng-option>
            <ng-option value="Thriller">Thriller</ng-option>
        </ng-select>
        -->

        <mat-form-field appearance="fill" class="filter">
            <mat-label>Filter</mat-label>
            <mat-select [(ngModel)]="selectedGenre" (selectionChange)="applyGenres()">
                <mat-option value="">None</mat-option>
                <mat-option value="Action">Action</mat-option>
                <mat-option value="Animation">Animation</mat-option>
                <mat-option value="Fantasy">Fantasy</mat-option>
                <mat-option value="Horror">Horror</mat-option>
                <mat-option value="Komödie">Komödie</mat-option>
                <mat-option value="Science Fiction">Science Fiction</mat-option>
                <mat-option value="Thriller">Thriller</mat-option>
            </mat-select>
        </mat-form-field>

    </mat-card>

<div class="parent">
    <div  *ngFor="let movie of movies">
        <a  routerLink="/detail/{{movie.id}}" class="child">
            <img src="\assets\images\{{movie.imageName}}">
        </a>
    <div>
</div>