#main{
    width: 95%;
    height: auto;
    margin: auto;
    overflow-x: scroll;

    background-color: rgb(50, 0, 0);
}
td.mat-column-Genre {
  padding-right: 8px;
}
#table{
    color:  rgb(202, 202, 202);
    width: 150%;
    height: auto;
}
.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}
.mat-row .mat-cell {
    border-top: 1px solid grey;

    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    background-color: rgb(202, 202, 202);
  }