<body>
    <div id="main">
        <table id="table" mat-table [dataSource]="movies">
            <ng-container matColumnDef="title" sticky>
              <th mat-header-cell *matHeaderCellDef> Titel </th>
              <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>
          
            <ng-container matColumnDef="duration">
              <th mat-header-cell *matHeaderCellDef> Dauer </th>
              <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
            </ng-container>

          
            <ng-container matColumnDef="genre">
              <th mat-header-cell *matHeaderCellDef> Genre </th>
              <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
            </ng-container>
          
            <ng-container matColumnDef="fsk">
              <th mat-header-cell *matHeaderCellDef> FSK </th>
              <td mat-cell *matCellDef="let element"> {{element.ageRestriction}} </td>
            </ng-container>
            <ng-container matColumnDef="cast">
              <th mat-header-cell *matHeaderCellDef> Besetzung </th>
              <td mat-cell *matCellDef="let element"> {{element.cast}} </td>
            </ng-container>
            <ng-container matColumnDef="regie">
              <th mat-header-cell *matHeaderCellDef> Regie </th>
              <td mat-cell *matCellDef="let element"> {{element.regie}} </td>
            </ng-container>
            <ng-container matColumnDef="studio">
              <th mat-header-cell *matHeaderCellDef> Film Studio </th>
              <td mat-cell *matCellDef="let element"> {{element.movieStudio}} </td>
            </ng-container>
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Start Datum </th>
              <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Beschreibung </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <ng-container matColumnDef="symbol" stickyEnd>
              <th mat-header-cell *matHeaderCellDef> Events </th>
              <td mat-cell *matCellDef="let element"> <mat-icon>arrow_forward_ios</mat-icon> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row routerLink="/events/{{row.id}}" *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</body>
