.main-div mat-card {
    padding: 0px;
    background-color: grey;
}

.login-form{
    padding: 20px
}


.login-button{
    background-color: green;

}

.mat-toolbar.mat-primary {
    background: #3a3737;
    color: white;
  }

.registration_class{
    color: green;

}

ul
{
list-style-type: none;
margin: 0;
padding: 0;

}