<body class="all">
    <div id="first-left">
        <div id="left-top">

            <div id="location">
                <mat-card class="card">
                    <mat-card-header >
                        <mat-card-title>Anfahrt</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="text-left">
                            <p>Adresse:</p>
                        </div>
                        <div class="text-right">
                            <p>Donaustraße 34</p>
                            <p>68199 Mannheim</p>
                        </div>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2593.8063329900456!2d8.50208781569542!3d49.450377279349944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4797c9720c622c21%3A0xcb8f720857cb35cd!2sDonaustra%C3%9Fe%2034%2C%2068199%20Mannheim!5e0!3m2!1sde!2sde!4v1665318176402!5m2!1sde!2sde" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div id="left-top-right">

                <div id="opening-hours">
                    <mat-card class="card">
                        <mat-card-header >
                            <mat-card-title>Öffnungszeiten</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="text-left">
                                <p>Mo - Fr:</p>
                                <p>Sa + So:</p>
                                <p>Feiertag:</p>
                            </div>
                            <div class="text-right">
                                <p>12:00 - 22:00</p>
                                <p>14:00 - 24:00</p>
                                <p>15:00 - 20:00</p>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div id="contact">
                    <mat-card class="card">
                        <mat-card-header >
                            <mat-card-title>Kontakt</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="text-left">
                                <p>E-Mail:</p>
                                <p>Telefon:</p>
                            </div>
                            <div class="text-right">
                                <p>daskino@email.com</p>
                                <p>102221/ 123456</p>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

            </div>

        </div>
        <div id="left-bottom">
            <mat-card class="card">
                <mat-card-header >
                    <mat-card-title>Preisübersicht</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>hier stehen unsere günstigen Preise</p>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
    <div id="first-right">
        <mat-card class="card">
            <mat-card-header >
                <mat-card-title>Galerie</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>hier sind schöne bilder</p>
                <img src="assets/images/img10.jpg">
                <img src="assets/images/img11.jpg">
                <img src="assets/images/img12.jpg">
            </mat-card-content>
        </mat-card>
        <!--<mat-card>
            <mat-card-title>Galerie</mat-card-title>

        </mat-card>-->
    </div>
</body>