<body>
    <div id="main">
        <div class="container" id="firstContainer">
            <form class="form">
                <mat-form-field class="formField" appearance="fill">
                <mat-label> Titel </mat-label>
                <textarea matInput placeholder=""></textarea>
              </mat-form-field>
              <mat-form-field class="formField" appearance="fill">
                <mat-label> Dauer </mat-label>
                <textarea  matInput placeholder="" ></textarea>
                <mat-hint> Angabe in Minuten </mat-hint>
              </mat-form-field>
              <mat-form-field class="formField" appearance="fill">
                <mat-label> Film Studio </mat-label>
                <textarea  matInput placeholder="" ></textarea>
              </mat-form-field>
            </form>
        </div>
        <div class="container" id="secondContainer">
            <form class="form">
                <mat-form-field class="formField" appearance="fill">
                    <mat-label> Regie </mat-label>
                    <textarea  matInput placeholder="" ></textarea>
                </mat-form-field>
                <mat-form-field class="formField" appearance="fill">
                    <mat-label> Besetzung </mat-label>
                    <textarea  matInput placeholder="" ></textarea>
                </mat-form-field>
            </form>
        </div>
        <div class="container" id="thridContainer">
            <form class="form">
                <mat-form-field class="formField" appearance="fill">
                    <mat-label> Beschreibung </mat-label>
                    <textarea  matInput placeholder="" ></textarea>
                </mat-form-field>

            </form>
        </div>
        <div class="container" id="fourthContainer">
            <form class="form flexform">
            <mat-form-field appearance="fill" class="formField">
                <mat-label>Genre</mat-label>
                <mat-select >
                    <mat-option value="">None</mat-option>
                    <mat-option value="Action">Action</mat-option>
                    <mat-option value="Animation">Animation</mat-option>
                    <mat-option value="Fantasy">Fantasy</mat-option>
                    <mat-option value="Horror">Horror</mat-option>
                    <mat-option value="Komödie">Komödie</mat-option>
                    <mat-option value="Science Fiction">Science Fiction</mat-option>
                    <mat-option value="Thriller">Thriller</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="formField">
                <mat-label>FSK</mat-label>
                <mat-select >
                    <mat-option value="0">0</mat-option>
                    <mat-option value="6">6</mat-option>
                    <mat-option value="12">12</mat-option>
                    <mat-option value="16">16</mat-option>
                    <mat-option value="18">18</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="formField">
                <mat-label> Start Datum</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </form>
            <!--<mat-form-field class="example-chip-list" appearance="fill">
                <mat-label>Favorite Fruits</mat-label>
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip
                    *ngFor="let fruit of fruits"
                    (removed)="remove(fruit)">
                    {{fruit}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input
                    placeholder="New fruit..."
                    #fruitInput
                    [formControl]="fruitCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                    {{fruit}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>-->
        </div>
        <div class="container" id="fifthContainer">
            <form class="form">
                <mat-form-field class="formField" appearance="fill">
                    <mat-label> Trailer Link </mat-label>
                    <textarea  matInput placeholder="" ></textarea>
                </mat-form-field>
                <input type="file" (change)="onChangeImage($event)">
                <button (click)="onUpload()"> test</button>
                <img [src]="url">
            </form>
        </div>
        <div class="container" id="fourthContainer">

        </div>
    </div>
</body>
