<h2>Sitze</h2>
<h2>Vorstellung {{movieEvent?.id}} am {{movieEvent?.date}} um {{movieEvent?.time}}<br>
    Saal: {{movieEvent?.roomId}}</h2>
<button mat-flat-button (click)="clearSelectedSeats()">clear selected seats (admin feature)</button>
<ul class="seats">
    <div class="row" *ngFor="let row of seats">
        <div>{{row[0].row}}</div>
        <div class="seatsInRow">

            <app-seat class="seat" *ngFor="let seat of row" [seat]="seat" (click)="seatClicked(seat)">
            </app-seat>

        </div>
    </div>
</ul>

<h2>ausgewählte Sitze</h2>
<div class="selectedSeat" *ngFor="let seat of selectedSeats">
    {{seat.row}} {{seat.numberInRow}}
</div>
<button mat-flat-button *ngIf="selectedSeats.length > 0" (click)="bookSeats()">Sitze buchen</button>