h2{
    color:white;
}

.seats{
    color: white;
}


.seatsInRow{
    height: 100px;
}


.seat{
    display: inline-block;
    margin: 1%;
    width: 10%;
    height: 100%;
    font-size: 20px;
    text-align: center;
}

.freeSeat{
    height: 100%;
    background-color: green;
}

.occupiedSeat{
    height: 100%;
    background-color: red;
}

.selectedSeat{
    color: white
}
